<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Domain Object Editor"
            extensions="dmo"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.maisha.wind.editor.editors.DomainObjectEditor"
            id="com.maisha.wind.editor.editors.DomainObjectEditor">
      </editor>
   </extension>
   

   
    <extension
         point="org.eclipse.ui.preferencePages">
       <page
	      class="com.maisha.wind.editor.preferences.template.TerraTemplatesPreferencePage"
	      id="com.maisha.wind.editor.editors.TemplatgesPreferencePage"
	      category="com.maisha.wind.preferences.WindMainPreferencePage"
	      name="Terra Templates">
	   </page>
	   
	   <page
	      class="com.maisha.wind.editor.preferences.WindMainPreferencePage"
	      id="com.maisha.wind.preferences.WindMainPreferencePage"
	      name="Wind Platform">
	   </page>
    </extension>



     <extension
        point="org.eclipse.ui.editors.templates">
     <contextTypeRegistry
           id="com.maisha.wind.editor.editors.DomainObjectEditor"></contextTypeRegistry>
     <include
           file="templates/default-templates.xml"
           translations="templates/default-templates.properties">
     </include>
     <contextType
           class="com.maisha.wind.editor.contentassistant.TerraTemplateContextTypes"
           id="terra-files"
           name="Terra Files"
           registryId="com.maisha.wind.editor.editors.DomainObjectEditor">
     </contextType>
     <contextType
           class="com.maisha.wind.editor.contentassistant.TerraTemplateContextTypes"
           id="dmo-members"
           name="DMO Members"
           registryId="com.maisha.wind.editor.editors.DomainObjectEditor">
     </contextType>
  
	</extension>

</plugin>
