<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.pde.ui.templates">
      <template
            contributingId="org.eclipse.ui.actionSets"
            name="Wind App Template"
            class="br.com.maisha.wind.app.tooling.template.WindAppPDETemplate"
            id="br.com.maisha.wind.app.template">
      </template>
      
  </extension>


<extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            name="Basic Wind App"
            icon="icons/etool16/wind.gif"
            class="br.com.maisha.wind.app.tooling.template.WindAppNewWizard"
            id="br.com.maisha.wind.app.pluginContent"
            pureOSGi="true"
            requiresActivator="true"            
            ui-content="false">
         <description>
            Creates a Wind Application with a basic config ready to run.
         </description>
      </wizard>
  </extension>
  
  


<extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "br.com.maisha.wind.tooling"
	   name="Wind Platform">
	</category>
 	<wizard
        category="br.com.maisha.wind.tooling"
        class="br.com.maisha.wind.app.tooling.wizards.NewDmoWizard"
        icon="icons/etool16/wind.gif"
        id="br.com.maisha.wind.tooling.new.dmo"
        name="New Domain Object">
	   
    		<description>Creates a new Domain Object file</description>
	   		<selection class="org.eclipse.core.resources.IResource"/>
	   		
	</wizard>
</extension>



</plugin>
