<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="br.com.maisha.wind.faces.rcp.Application"
            parameter="view"
            id="wind_faces.Application">
      </entrypoint>
   </extension>
   
   <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="br.com.maisha.wind.faces.rcp.Perspective"
            id="wind_faces.perspective">
      </perspective>
   </extension>
   
   <!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="br.com.maisha.wind.faces.view.MessageView"
            icon="icons/messageView.gif"
            id="br.com.maisha.wind.faces.view.messageView"
            name="Message">
      </view>
      
	  <view
            name="Edition View"
            class="br.com.maisha.wind.faces.view.EditionView"
            id="br.com.maisha.wind.faces.view.editionView">
      </view>
      
      <view
            name="Module Overview"
            class="br.com.maisha.wind.faces.view.ModuleOverview"
            id="br.com.maisha.wind.faces.view.moduleOverview">
      </view>
      
      <view
            name="Grid"
            class="br.com.maisha.wind.faces.view.GridView"
            icon="icons/grid.gif"
            id="br.com.maisha.wind.faces.view.gridView">
      </view>      
      
      <view
            class="br.com.maisha.wind.faces.view.LogView"
            icon="icons/logView.gif"
            id="br.com.maisha.wind.faces.view.logView"
            name="Log">
      </view>        
   <view
         name="Progress"
         icon="icons/pview.gif"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView">
   </view>      
	<view
		class=" br.com.maisha.wind.faces.view.AboutView"
		icon="icons/help.gif"
		id=" br.com.maisha.wind.faces.view.AboutView"
		name="About">
	</view>            
   </extension>


<!-- Logo Customization -->


	<!-- extension point="org.eclipse.rap.ui.layouts">
		<layout id="org.eclipse.rap.design.example.business.layout">
			<layoutSet class="br.com.maisha.wind.faces.layout.business.LogoInitializer"
				id="br.com.maisha.wind.faces.business.logo"
				name="Logo Overriding"
				overridesId="org.eclipse.rap.design.example.layoutset.logo" >
				
			</layoutSet>
		</layout>
	</extension -->

   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            id="br.maisha.wind.faces.theme.default"
            name="Wind Default Theme"
            file="wind-default.css" />
   </extension>


<extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="wind_faces.Application"
            id="br.maisha.wind.faces.brandind"
            servletName="rap"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="Wind Platform">
      </branding>
   </extension>


</plugin>
