<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="br.com.maisha.wind.faces.rcp.Application"
            parameter="view"
            id="wind_faces.Application">
      </entrypoint>
   </extension>
   
   <!-- Perspectives -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="br.com.maisha.wind.faces.rcp.Perspective"
            id="wind_faces.perspective">
      </perspective>
   </extension>
   
   <!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message View"
            class="br.com.maisha.wind.faces.view.MessageView"
            id="br.com.maisha.wind.faces.view.messageView">
      </view>
      
	  <view
            name="Edition View"
            class="br.com.maisha.wind.faces.view.EditionView"
            id="br.com.maisha.wind.faces.view.editionView">
      </view>
      
      <view
            name="Module Overview"
            class="br.com.maisha.wind.faces.view.ModuleOverview"
            id="br.com.maisha.wind.faces.view.moduleOverview">
      </view>
   </extension>

</plugin>
