.tip{
	background:url("http://wind-platform.googlecode.com/svn/trunk/wind-platform/documentation/wiki_notes/tip.png") no-repeat scroll 0 0 #56FFFF;
	font-family:sans-serif;
	font-size:13px;
	overflow:hidden;
	padding-left:50px;
	padding-top:10px;
}

iframe{
	border: 0px;
}